/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto+Condensed:wght@300&display=swap');
/********** Template CSS **********/
:root {
    --primary: #FF3E41;
    --secondary: #51CFED;
    --light: #F8F2F0;
    --dark: #060315;
}

.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.black{
    color: black;
}
.white{
    color: white;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 55px;
    padding-left: 1%;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        top: -6px;
        left: 50%;
        background: #FFFFFF;
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url('https://ryan-worldwide.com/wp-content/uploads/2019/01/51_gp-logistics-banner.png') center center no-repeat;
    background-size: cover;
}

.page-headerabout {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/about1.jpg) center center no-repeat;
    background-size: cover;
}
.page-headercontact {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/contact.jpg) center center no-repeat;
    background-size: cover;
}
.page-headerair {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url('https://ryan-worldwide.com/wp-content/uploads/2019/01/51_gp-logistics-banner.png') center center no-repeat;
    background-size: cover;
}
.page-headertrain {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url('https://ryan-worldwide.com/wp-content/uploads/2019/01/51_gp-logistics-banner.png') center center no-repeat;
    background-size: cover;
}
.page-headersea {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url('https://ryan-worldwide.com/wp-content/uploads/2019/01/51_gp-logistics-banner.png') center center no-repeat;
    background-size: cover;
}
.page-headercustomer {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url('https://ryan-worldwide.com/wp-content/uploads/2019/01/51_gp-logistics-banner.png') center center no-repeat;
    background-size: cover;
}
.page-headerware {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url('https://ryan-worldwide.com/wp-content/uploads/2019/01/51_gp-logistics-banner.png') center center no-repeat;
    background-size: cover;
}
.page-headerservice {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url('https://ryan-worldwide.com/wp-content/uploads/2019/01/51_gp-logistics-banner.png') center center no-repeat;
    background-size: cover;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
/* .text1{
    padding-top: 1%;
} */
.gp-1{
    font-size: 4vmin;
}
.gp-3{
    margin-left: 7%;
}
.gp-4{
    font-size: 4vmin;
    margin-left: 7%;
}

@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Service, Price & Team ***/

.img-4{
  width: 40%;
  height: auto;
  margin-left: 7%;
  margin-bottom: 3%;
}
.img-5{
  width: 50%;
  max-width: 300px;
  align-items: center;
  height: auto;
  float: right;
  /* margin-left: 15%; */
  /* margin-bottom: 3%; */
}
.img-6{
  width: 40%;
  /* float: right; */
  max-width: 300px;
  height: auto;
  margin-left: 7%;
  margin-bottom: 3%;
}
.text{
    padding-top: 6%;
}
.hp-1{
    font-size: 4vmin;
}
.hp-3{
    margin-left: 7%;
}
.hp-4{
    font-size: 4vmin;
    margin-left: 7%;
}
.service-item,
.price-item,
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item img,
.team-item img {
    transition: .5s;
}

.service-item:hover img,
.team-item:hover img {
    transform: scale(1.1);
}

.service-item a.btn-slide,
.price-item a.btn-slide,
.team-item div.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
}
.font-style{
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}
.font-style1{
    font-family: Roboto, sans-serif;
}
Roboto, sans-serif

.service-item a.btn-slide i,
.service-item a.btn-slide span,
.price-item a.btn-slide i,
.price-item a.btn-slide span,
.team-item div.btn-slide i,
.team-item div.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 0 35px 35px 0;
    transition: .5s;
    z-index: 2;
}

.team-item div.btn-slide span a i {
    padding: 0 10px;
}

.team-item div.btn-slide span a:hover i {
    background: var(--secondary);
}

.service-item a.btn-slide span,
.price-item a.btn-slide span,
.team-item div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
}

.service-item:hover a.btn-slide i,
.price-item:hover a.btn-slide i,
.team-item:hover div.btn-slide i {
    border-radius: 0;
}

.service-item:hover a.btn-slide span,
.price-item:hover a.btn-slide span,
.team-item:hover div.btn-slide span {
    left: 0;
}

.service-item a.btn-slide:hover i,
.service-item a.btn-slide:hover span,
.price-item a.btn-slide:hover i,
.price-item a.btn-slide:hover span {
    background: var(--secondary);
}


/*** Testimonial ***/
/* .text2{
    padding-top: 3%;
} */
.clientslogo{
    margin-top: 7%;
}
.clientslogo1{
    margin-top: 20%;
}
.clientslogo2{
    margin-top: 4%;
    /* width: 20%; */
}
.space{
  text-align: center;
}
.testimonial-carousel .owl-item .testimonial-item {
    position: relative;
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    animation: pulse 1s ease-out .5s;
}

.testimonial-carousel .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border: 5px solid var(--light);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--light);
    border-color: var(--primary);
}


/*** Contact ***/
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .wrapper {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .wrapper {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .wrapper {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1140px;
    }
  }
  
  .d-grid {
    display: grid;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  button,
  select {
    outline: none;
    appearance: none;
  }
  
  button,
  .btn,
  select {
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  /* Section top bottom gap */
  .section-gap {
    padding: 4.5rem 0;
  }
  
  @media screen and (max-width:767px) {
    .section-gap {
      padding: 3.5rem 0;
    }
  }
  
  @media screen and (max-width:480px) {
    .section-gap {
      padding: 3rem 0;
    }
  }
  /* / Section top bottom gap */
  
  /* title-styling */
  h3.global-title {
    font-size: 40px;
    line-height: 45px;
    color: #16191e;
    margin-bottom: 50px;
    text-transform: capitalize;
  }
  
  @media screen and (max-width:767px) {
    h3.global-title {
      font-size: 40px;
      line-height: 45px;
    }
  }
  
  @media screen and (max-width:600px) {
    h3.global-title {
      font-size: 35px;
      line-height: 40px;
    }
  }
  
  @media screen and (max-width:500px) {
    h3.global-title {
      font-size: 30px;
      line-height: 35px;
    }
  }
  /* / title-styling */
  
  
  /* contact1 */
    .margin-up {
      margin-top: 2.5rem;
    }
  
    h4.sub-title {
      font-size: 16px;
      margin: 0;
      color: #4cb1ff;
      font-weight: normal;
    }
  
    .contact-view {
      grid-template-columns: 1fr 1.3fr;
      grid-gap: 30px;
      
    }
  
    .cont-top {
      display: grid;
      grid-template-columns: 20px auto;
      grid-column-gap: 20px;
      /* background-color: crimson; */
    }
  
    .twice {
      margin-bottom: 20px;
    }
  
    .cont-details span.fa {
      font-size: 22px;
      color: #4cb1ff;
      display: block;
      margin-top: 3px;
    }
  
    .cont-details h6 {
      font-size: 20px;
      color: #051b35;
      font-weight: 600;
    }
  
    .cont-details p,
    .cont-details p a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #777777;
      margin-top: 3px;
    }
  
    .cont-details p a:hover {
      text-decoration: underline;
      opacity: 0.8;
      color: #051b35;
    }
  
    .cont-details address {
      margin: 25px 0;
    }
  
    .cont-details address p {
      margin: 5px 0;
    }
  
    .twice-two {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;
    }
  
    .map-content form input,
    .map-content form textarea {
      background: #f8f9fa;
      border: 2px solid rgba(216, 216, 216, 0.3);
      color: #777;
      font-size: 16px;
      padding: 12px 15px;
      width: 100%;
      border-radius: 4px;
      height: 55px;
    }
  
    .map-content h5 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
      color: #000000;
    }
  
    .map-content form textarea {
      resize: none;
      min-height: 140px;
    }
  
    .map-content form input:focus,
    .map-content form textarea:focus {
      outline: none;
      border: 2px solid #051b35;
      background: #fff;
      box-shadow: none;
    }
  
    button.btn-contact {
      border: none;
      font-size: 16px;
      padding: 15px 30px;
      margin: 20px auto 0;
      color: #fff;
      background: #4cb1ff;
      border-color: #4cb1ff;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
     
      user-select: none;
      border: 1px solid transparent;
      border-radius: 0.25rem;
    }
  
    .cont-details h6 a {
      color: #051b35;
    }
  
    /* contact1-responsive */
    @media(max-width: 992px) {
  
      .cont-details p,
      .cont-details p a {
        font-size: 16px;
      }
  
      .cont-details h5 {
        font-size: 32px;
        line-height: 35px;
      }
  
      .contact-view {
        grid-template-columns: 1fr;
      }
  
      .map-content {
        margin-top: 40px;
      }
    }
  
    @media(max-width: 480px) {
      .twice-two {
        grid-template-columns: 1fr;
      }
  
      button.btn-contact {
        width: 100%;
      }
    }
/* .section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112d42;

}
.section::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}
.section .containerr{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
.section .containerr .contactinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
.section .containerr .contactinfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;

}
.section .containerr .contactinfo .info{
    position: relative;
    margin: 20px 0;

}
.section .containerr .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.section .containerr .contactinfo .info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}
.section .containerr .contactinfo .info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;

}
.section .containerr .contactinfo .info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}
.section .containerr .contactinfo .info li:hover span:nth-child(1) img,
.section .containerr .contactinfo .info li:hover span:nth-child(2)
{
    opacity: 1;
}
.section .containerr .contactForm{
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
.section .containerr .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.section .containerr .contactForm .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}
.section .containerr .contactForm .formBox .inputBox.w50{
    width: 47%;
}
.section .containerr .contactForm .formBox .inputBox.w100{
    width: 100%;
}
.section .containerr .contactForm .formBox .inputBox input,
.section .containerr .contactForm .formBox .inputBox textarea{
    width: 100% !important;
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 300;
    resize: none;
    border-radius: 4px;
    color: #333;
    border: none;
    background-color: rgb(238, 238, 238);
    
    outline: none;
}
.section .containerr .contactForm .formBox .inputBox textarea{
    min-height: 120px;
}
.section .containerr .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}
.section .containerr .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: none;
} */
@media (min-width: 992px) {

}
@media (min-width: 992px) {
  
    .container.contact-page {
        max-width: 100% !important;
    }

    .contact-page .contact-form  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .contact-page .contact-form  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .contact-page .contact-form  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Footer ***/
.footer {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/map.png) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}


/* contact form */

.login-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 25% 0;
  }
  .form {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 80px 5.5vmin 10px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  }
  .form::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
  }
 
  .form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #ff652f;
  }
  .form .input-group {
    position: relative;
  }
  .form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
  }
  .form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
  }
  .form .input-group1{
    position: relative;
  }
  .form .input-group1 input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
  }
  .form .input-group1 label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 0.81em;
    pointer-events: none;
    transition: .3s ease-out;
  }
  .form .input-group textarea {
    width: 100%;
    padding: 25px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
  }
  .form .input-group input:focus + label,
  .form .input-group input:valid + label,
  .form .input-group1 input:focus + label,
  .form .input-group1 input:valid + label,
  .form .input-group textarea:focus + label,
  .form .input-group textarea:valid + label {
    transform: translateY(-18px);
    color: #ff652f;
    font-size: .8rem;
  }
  
  .submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 4%;
    border: none;
    outline: none;
    background: #ff652f;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-wrapper span{
      color: red;
  }
 
  .float{
	position:fixed;
	width:51px;
	height:50px;
	bottom:120px;
	right:44px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	/* box-shadow: 2px 2px 3px #999; */
  z-index:100;
}
.float:hover{
    color: #fff;
}

.my-float{
	margin-top:11px;
}
.btn-txt{
	position:fixed;
	width:100px;
	height:30px;
	bottom:131px;
	right:100px;
	background-color:#333;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:17px;
	/* box-shadow: 2px 2px 3px #999; */
  z-index:100;
  align-items:center;
}
.txt{
  margin-top:3px;
}

blink,.btn-txt {
    -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
    animation: 2s linear infinite condemned_blink_effect;
  }
  
  /* for Safari 4.0 - 8.0 */
  @-webkit-keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
      /* opacity: 0%; */
    }
    50% {
      visibility: visible;
      opacity: 0%;
    }
    100% {
      visibility: visible;
    }
  }
  
  @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
      /* opacity: 0%; */
    }
    50% {
      visibility: visible;
      opacity: 0%;
    }
    100% {
      visibility: visible;
    }
  }
 






























  